<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies and Celebrities</title>
</head>

<body>

  <nav>

    <ul>
      <li><a href="/celebrities">Celebrities</a></li>

      <li><a href="/celebrities/create">Add Celebrity</a></li>

      <li><a href="/movies">Movies</a></li>

      <li><a href="/movies/create">Add Movie</a></li>
    </ul>

  </nav>



</body>
</html>
